/* Font */
@font-face {
  font-family: 'DawnBallad';
  src: url('DawnBallad-6R5oo.otf') format('truetype');
}

@font-face {
  font-family: 'MeviatGothic';
  src: url('MeviatGothic-5yKgV.ttf') format('truetype');
}

/* Number font class */
.number-font {
  font-family: 'MeviatGothic', sans-serif;
  font-size: 3em;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  font-family: 'DawnBallad', sans-serif;
  overflow: hidden;
  background: black;
}



/* Video container */
.video-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 0;
}
#bgVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%) contrast(1.2);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* Overlay for cinematic look */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

/* Text center */
.text-container {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgba(255, 255, 255, 0.742);
  display: none;
  width: 100%;
  max-width: 100vw;
  z-index: 10;
  background: linear-gradient(to bottom, black, white);
}

/* Text lines */
.text-line {
  font-size: 3em;
  opacity: 0;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  white-space: nowrap;
  letter-spacing: 2px;
  display: inline-block;
}

.text2-inline {
  display: inline-block;
  margin-left: 1em;
}

/* Animations */
#text1 {
  animation: fadeInOut 6s ease-in-out;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
}
#text2 {
  animation: fadeInOut 6s ease-in-out;
  animation-delay: 6s;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
}

@keyframes fadeInOut {
  0%   { opacity: 0; transform: scale(0.95); }
  10%  { opacity: 1; transform: scale(1); }
  80%  { opacity: 1; transform: scale(1); }
  100% { opacity: 0; transform: scale(1.05); }
}
/* Pixel-sorting glitch effect on body */
body.glitch {
  animation: pixelSort 1.5s ease-in-out forwards;
  filter: contrast(1.8) brightness(1.2) grayscale(100%) hue-rotate(45deg) saturate(2.5);
}

@keyframes pixelSort {
  0% {
    filter: grayscale(0) brightness(1) contrast(1);
  }
  25% {
    filter: grayscale(1) brightness(1.5) contrast(1.5) hue-rotate(10deg);
  }
  50% {
    filter: grayscale(1) brightness(1.8) contrast(2) hue-rotate(90deg);
  }
  75% {
    filter: grayscale(1) brightness(2) contrast(2.5) hue-rotate(180deg);
  }
  100% {
    filter: grayscale(1) brightness(1.2) contrast(2) hue-rotate(270deg);
  }
}
